.btn,
a.btn,
button.btn {
  display: inline-block;
  padding: 8px 15px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: #f15e22;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.231;
  border-radius: 4px;
  text-align: center;
  transition: background .3s ease-in-out;

  &:hover,
  &.active {
    background-color: #467cc0;
  }

  &:active {
    background-color: #394e84;
  }
}

@media (min-width: $phone-landscape) {
  .btn {

  }
}
@media (min-width: $tablet-portrait) {
  .btn {

  }
}
@media (min-width: $tablet-landscape) {
  .btn,
  a.btn,
  button.btn {
    display: inline-block;
    min-width: 126px;
    padding: 20px 37px;
    font-size: 28px;
  }
}
@media (min-width: $desktop) {
  .btn {

  }
}