.icons {
  padding: 25px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.251;
  text-align: center;
  text-transform: uppercase;

  &__item {
    margin-bottom: 20px;
    font-weight: 900;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto 10px;
    }

    span { display: block }
  }
}
@media (min-width: $phone-landscape) {
  .icons {
    display: flex;
    justify-content: center;
    font-size: 14px;

    &__item {
      width: calc(100%/3);
      padding: 20px;

      img { margin: 0 auto 24px }
    }
  }
}
@media (min-width: $tablet-portrait) {
  .icons {

  }
}
@media (min-width: $tablet-landscape) {
  .icons {
    max-width: 900px;
    margin: 0 auto 27px;
    font-size: 18px;
  }
}
@media (min-width: $desktop) {
  .icons {

  }
}

