.logo {

  img {
    display: block;
    height: 60px;
  }
}
@media (min-width: $phone-landscape) {
  .logo {

  }
}
@media (min-width: $tablet-portrait) {
  .logo {

  }
}
@media (min-width: $tablet-landscape) {
  .logo {

  }
}
@media (min-width: $desktop) {
  .logo {

    img {
      height: 81px;
    }
  }
}

