.phone {
  font-size: 20px;
  color: rgb(10, 78, 129);
  line-height: 1.126;
  font-weight: 400;

  strong {
    font-size: 24px;
    font-weight: 900;
  }
}
@media (min-width: $phone-landscape) {
  .phone {

  }
}
@media (min-width: $tablet-portrait) {
  .phone {

  }
}
@media (min-width: $tablet-landscape) {
  .phone {

  }
}
@media (min-width: $desktop) {
  .phone {

  }
}

