.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  background-image: url(../img/site-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  @include Roboto();

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 66px;
    width: 100%;
    z-index: 2;
  }

  &__content {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.608;
    text-align: center;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}
@media (min-width: $desktop-hd) {
  .site {

  }
}

