.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  background-image: url(../img/site-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  @include Roboto();

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 66px;
    width: 100%;
    z-index: 2;

    .authorize {
      margin-top: 30px;
    }
  }

  &__content {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    line-height: 1.608;
    text-align: center;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

    &__header {
      max-width: 1200px;
      margin: 0 auto;

      .menu {
        width: 100%;

        &__wrap {
          width: 100%;
        }
      }

      .authorize {
        height: 66px;
        margin-top: 0;
      }
    }

    &__footer {
      padding: 26px;
      font-size: 14px;
    }
  }
}
@media (min-width: $desktop) {
  .site {


  }
}
@media (min-width: $desktop-hd) {
  .site {

    &__header {
      max-width: 1200px;
      margin: 0 auto;

      .menu {

        &__wrap {
          justify-content: center;
          height: 66px;
        }

        &__item_phone {
          @include absoluteCenterY();
          right: -7px;
          white-space: nowrap;
        }
      }

      .authorize {
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 32px;
        white-space: nowrap;
      }
    }
  }
}

